<%= render 'shared/spotmenu' %>
<div class="row gx-0">
  <div class="col-12 position-relative">
    <div class="col-12 col-md-10 col-xl-9 position-absolute top-50 start-50 translate-middle">
      <h1 class="display-1 font-m-700">ItteMiyoへようこそ</h1>
      <p class="font-m-500">
        ItteMiyo（行ってみよう）：おすすめスポットに行ってみよう<br>
        ItteMiyo（行ってみぃよ）：おすすめするから行ってごらん！
      </p>
      <h4 class="font-m-500">
        誰もが知る有名スポットから知る人ぞ知るコアなスポットまで<br>
        おすすめの観光スポットを共有しあおう！そして行ってみよう！
      </h4>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" style="width: 300px; margin-right: 12px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" style="width: 300px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" style="width: 300px; margin-left: 12px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner opacity03" style="max-height: 800px;">
        <div class="carousel-item active">
          <%= image_tag 'top1.jpg', class: "d-block w-100", alt: "slider1-img", style: "max-height: 800px; object-fit: cover; object-position: 0 35%;" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'top2.jpg', class: "d-block w-100", alt: "slider2-img", style: "max-height: 800px; object-fit: cover; object-position: 0 50%;" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'top3.jpg', class: "d-block w-100", alt: "slider3-img", style: "max-height: 800px; object-fit: cover; object-position: 0 80%;" %>
        </div>
      </div>
    </div>
  </div>
</div>
