<div class="row gx-0">
  <div class="col-2">
    <div class="sidebar_content bg-primary p-3" style="height: 700px;">
      サイドメニューバー
    </div>
  </div>
  <div class="col-10">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" style="width: 300px; margin-right: 12px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" style="width: 300px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" style="width: 300px; margin-left: 12px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="max-height: 600px;">
        <div class="carousel-item active">
          <%= image_tag 'sample.jpg', class: "d-block w-100", alt: "sample-img" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'sample.jpg', class: "d-block w-100", alt: "sample-img" %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'sample.jpg', class: "d-block w-100", alt: "sample-img" %>
        </div>
      </div>
    </div>
  </div>
</div>
