<div class="py-3 bg-light">
  <div class="container" data-turbolinks="false">
    <div class="row justify-content-center py-4">
      この操作を行うにはログインが必要です
      <div class="pt-5">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark widebutton" %>
      </div>
      <div class="py-5">
        <%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-dark widebutton" %>
      </div>
      <div class="py-4">
        <%= link_to "トップに戻る", root_path, class: "btn btn-dark widebutton" %>
      </div>
    </div>
  </div>
</div>
