// Place all the styles related to the shareco controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

.underborder {
  border-bottom: 2px solid #b4b4b4;
}

.headerheight {
  height: 85px;
  display: flex;
  align-items: center;
}

.flashmessage {
  position: fixed !important;
  z-index: 10 !important;
  width: 100% !important;
}

.top-space {
  margin-top: 100px;
}

.nonebutton {
  border: none !important;
  box-shadow: none !important;
}

.roundbutton {
  border: 0px;
  border-radius: 25px;
  background-color: #7DD956;
  text-align: center;
  margin-top: 5px;
  transition: 0.3s
}

.roundbutton:hover {
  opacity: 0.7;
}

.hoveropacity {
  transition: 0.3s
}

.hoveropacity:hover {
  opacity: 0.7;
}

.py6px {
  padding: 6px 0 !important;
}

.font-white {
  color: #FFFFFF !important;
}

.nondeco {
  text-decoration: none;
}

.lborder {
  border-left: 1px solid #000000;
  margin-left: -1px;
}

.rborder {
  border-right: 1px solid #000000;
}

.minwidth100 {
  min-width: 150px;
  text-align: center;
}

.opacity03 {
  opacity: 0.3;
}

.font-k {
  font-family: 'Kosugi Maru', sans-serif;
}

.font-m-400 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400 !important;
}

.font-m-500 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500 !important;
}

.font-m-700 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700 !important;
}

.homeform {
  height: 50px;
  margin: 10px 0;
}

.searchform {
  min-width: 220px;
  border: 1px solid #E0E0E0 !important;
  border-radius: 25px 0 0 25px !important;
  border-right: none !important;
  box-shadow: 0px 3px 5px #A0A0A0;
}

.searchbutton {
  min-width: 70px;
  border: 1px solid #000000 !important;
  border-left: none !important;
  border-radius: 0 25px 25px 0 !important;
  box-shadow: 0px 3px 5px #A0A0A0;
}
