// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spot-describe {
  overflow: scroll;
  height: 55px;
}

.spot-thumb {
  border-radius: 10px !important;
}

.spot-text-main {
  width: 95%;
  font-size: 16px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spot-address {
  width: 60%;
  font-size: 14px;
  color: #717171;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spot-text-sub {
  font-size: 14px;
  color: #717171;
}

.spot-address-show {
  font-size: 14px;
  color: #000000;
  text-decoration: underline;
}

.spot-option-show {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.overhidden {
  overflow: hidden;
}
